* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  background-color: #D3D3D3;
  font-family: 'Roboto', sans-serif;
}

#title-extra {
  text-align: center;
  margin: 40px 0px;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 25%;
  max-width: 200px;
  background-color: #D1B48C;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #786750;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #A68F6F;
  color: white;
}

.content, .clickbait-content {
  margin-left: 200px;
  padding: 16px;
  height: 100%;
}

.content {
  max-width: 800px;
}

#pf {
  width: 25%;
  max-width: 150px;
  min-width: 100px;
  height: auto;
  float: right;
}

h1 {
  color: #A68F6F;
}

.introduction {
  float: left;
  width: 75%
}

#dreams, #awesome {
  display: block;
  width: 100%;
  border: 2px solid #A68F6F;
  clear: both;
}

table{
    border-collapse: collapse;
    width: 100%;
}

thead{
    background-color: black;
    color: white;
}

td{
    border: 1px solid black;
}

tbody tr:nth-child(even){
    background-color: white;
}

tbody tr:nth-child(odd){
    background-color: #D3D3D3;
}

video {
  display: none;
  width: 100%;
}

#surprise-enabler{
  text-align: center;
  margin: auto;
}

@media screen and (max-width: 700px) {
  .content, .clickbait-content{
    margin-left: 0;
    padding-top: 60px;
  }

  .sidebar, #title-extra {
    width: 100%;
    height: auto;
    position: relative;
    float: left;
    display: block;
    max-width: none;
  }

  #title-extra {
    width: 20%;
    margin: 0;
    padding: 10px;
  }

  .sidebar a {
    float: left;
  }
}

@media screen and (max-width: 435px) {
  .content, .clickbait-content {
    padding-top: 220px;
    text-align: center;
  }

  #title-extra {
    width: auto;
  }

  .introduction {
    width: 100%;
  }

  #pf {
    float: none;
    margin: auto;
    display: block;
    width: 50%;
  }

  .sidebar a, #title-extra{
    text-align: center;
    float: none;
  }
}
